.btn_buy_now{
  
     background-color: #F97316;   padding: 0.5rem;
     padding-left: 2rem;
      padding-right: 2rem;
      border: none;
      color: #ffffff; 
      border-radius: 0.25rem;
   font-size: 1.25rem;
    font-weight: 600;
     cursor: pointer;
     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   display: flex;
     align-items: center;
    gap: 0.25rem;
   
 }

 .btn2{
     padding: 0.5rem;
    padding-left: 2rem;
     padding-right: 2rem;
   background-color: #3B82F6;
     border: none;
     color: #ffffff; 
     border-radius: 0.25rem;
  font-size: 1.25rem;
   font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
    align-items: center;
   gap: 0.25rem;
 }