
.btn{
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    transition: all ease-in-out 100ms;
    border:1px solid lightgray;
    cursor: pointer;
}

.btn:hover{
    color:blue;
    border:1.4px solid blue
}

button:disabled {
    background-color: lightgray;
    color: lightgray;
}
button:disabled:hover {
    color: lightgray;
    border:1px solid lightgray;
}